.env
/node_modules
/argon2

# Ignora archivos de documentación fuera del directorio permitido
*.docx
*.xlsx
*.epub
*.pdf
*.txt

# Permite dentro de /documentacion
!/documentacion/**

# git status --ignored